head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible", content="IE=edge")
  meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

  if (process.env.MODE === "deploy")
    base(href= deployUrl)

  title= pageTitle
  link(rel="apple-touch-icon", sizes="180x180", href= path.root + "/apple-touch-icon.png")
  link(rel="icon", type="image/png", sizes="32x32", href= path.root + "/favicon-32x32.png")
  link(rel="icon", type="image/png", sizes="16x16", href= path.root + "/favicon-16x16.png")
  link(rel="manifest", href= path.root + "/site.webmanifest")
  link(rel="shortcut icon", type="image/x-icon", href= path.root + "favicon.ico")
  link(rel="stylesheet", href=path.css + "style.css")
  link(rel="stylesheet", href=path.css + "jquery.fancybox.min.css")
  link(rel="stylesheet", href=path.css + "media.css")
  link(rel="stylesheet", href=path.css + "alertify.core.css")
  link(rel="stylesheet", href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css")
  script(src= path.root + "libs/jquery3.1/jquery3.1.min.js")
  script(src= path.root + "libs/watchHeight/jquery.matchHeight.js")
  script(src="//code.jquery.com/ui/1.12.1/jquery-ui.js")
  script(src= path.root + "libs/slick.js/slick.min.js")
  script(src= path.js + "jquery.fancybox.min.js")
  script(src= path.js + "alertify.min.js")
  script(src= path.js + "js.cookie.min.js")
  script(src= path.js + "wow.js")
  script(src= path.js + "normalize.js")

  block head
    link(rel="stylesheet", href=path.css + "style-add.css")
