extends ../templates/template__default.pug

block variables
  - isMainPage = true
  - pageTitle = "Зилант Моторс — надежный поставщик техники SITRAK"
  - metaDescription = "description"
  - metaKeywords = "keywords"

block content
  main.main
    section.hero
      .hero__inner
        .page__wrap
          .hero__content
            h1.hero__title Надежная техника для сложных задач
            .hero__row
              button.page__link.page__btn.page__btn--current(data-hystmodal="#leasingCalc") Рассчитать лизинг
              a.page__link.page__btn.page__btn--white(href="#") Подробнее
      img.hero__bg(src=path.img + "hero__bg.webp", alt="Грузовик Scania едет по дороге, горы на фоне")
  .main__block
    .page__wrap
      .sentence
        .sentence__block
          a.page__link.sentence__link(href="javascript: void(0);")
            span Каталог техники
          .sentence__grid
            each box in [1, 2, 3, 4, 5]
              .sentence__box
                .sentence__cart.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".7s")
                  .sentence__cart--slider
                    .slider
                      .list-item__thumbnail
                        .list-item__thumbnail__container
                          .list-item__thumbnail__brazzers
                            .brazzers
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image.brazzers__image_first(src=path.img + "sentence-car--01.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image.brazzers__image_first(src=path.img + "sentence-car--02.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image(src=path.img + "sentence-car--03.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image(src=path.img + "sentence-car--04.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image(src=path.img + "sentence-car--05.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image(src=path.img + "sentence-car--06.jpg", alt="")
                                .brazzers__button
                              .brazzers__page
                                .brazzers__image-wrapper
                                  div
                                    img.brazzers__image(src=path.img + "sentence-car--07.jpg", alt="")
                                .brazzers__button
                  .sentence__cart--info
                    .page__flex
                      .sentence__cart--box
                        a.page__link.sentence__cart--title(href="javscript: void(0);") Volvo FH13 (2017)
                        .sentence__cart--subname Седельный тягач, 349 000 км, 460л.с
                      .sentence__cart--box
                        .page__flex
                          .price 8 200 000 #[span.page__rubl]
                            .price__from от 45 020 #[span.page__rubl] /мес
      .main__block--catalog
        h2.page__h2.mt-0.mb-0 Каталог техники
        .main__block--catalog-indent
          .page__flex
            .box.wow.fadeInUp(data-wow-duration=".7s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--sed.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--sed-white.webp", alt="")
                .box__block--text Седельные тягачи
                  span 4
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".3s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--polu.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--polu-white.webp", alt="")
                .box__block--text Полуприцепы шторный
                  span 1
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".5s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--refr.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--refr-white.webp", alt="")
                .box__block--text Полуприцепы рефрижераторные
                  span 3
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".7s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--mini.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--mini-white.webp", alt="")
                .box__block--text Мини-погрузчики
                  span 1
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".9s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--front.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--front-white.webp", alt="")
                .box__block--text Фронтальные погрузчики
                  span 0
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay="1.1s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--exc.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--exc-white.webp", alt="")
                .box__block--text Экскаваторы
                  span 12
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay="1.1s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--samo.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--samo-white.webp", alt="")
                .box__block--text Самосвалы
                  span 12
            .box.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay="1.1s")
              a.page__link.box__block(href="javascript: void(0);")
                .box__block--icon
                  img.page__img.img-act(src="img/icon__catalog--auto.webp", alt="")
                  img.page__img.no-img(src="img/icon__catalog--auto-white.webp", alt="")
                .box__block--text Автобетоносмесители
                  span 12
    .main__block
      .page__wrap
        .payment-method
          h2.page__h2.mt-0.mb-0 Способ оплаты
          .payment-method__block
            a.page__link.payment-method__link(href="javascript: void(0);"): span Подробнее
            .payment-method__block--desc
              .page__flex
                .payment-method__box
                  img.page__img(src="img/calc.png", alt="")
                .payment-method__box
                  .payment-method__title Лизинг по выгодным условиям
                  .page__flex
                    .payment-method__desc от 0%
                      .payment-method__desc--subname переплата
                    .payment-method__desc от 0%
                      .payment-method__desc--subname аванс
                    .payment-method__desc до 60 мес.
                      .payment-method__desc--subname срок договора
                  .payment-method__box--button
                    button.page__link.page__btn.page__btn--black(data-hystmodal="#leasingCalc") Рассчитать
                    a.page__link.page__btn.page__btn--transparent(href="javascript: void(0);") Консультация
        .cooperation
          h2.page__h2.mt-0.mb-0 Наши партнеры
          .cooperation__block
            -
              var partners = [
                "lising-trade",
                "alfa-lising",
                "europlan",
                "vtb",
                "vostok-lising",
                "sber-lising",
                "carcade",
                "aliance-lising",
                "expert-lising",
                "fmf-lising",
                "gasprom-lising",
                "m7-lising",
                "reso-lising",
                "ural-lising",
                "uralpromlising",
                "baikalinvestbank",
                "stone-xxi",
                "sovkom-bank",
              ]
            .cooperation__grid
              each icon in partners
                .cooperation__icon
                  img.page__img(src="img/icon__partner--" + icon + ".webp", alt="")
      .why
        .page__wrap
          .page__flex
            .why__box.wow.fadeInUp(data-wow-duration=".7s")
              h2.page__h2.mt-0.mb-0
                | Почему выбирают нас?
              a.page__link.why__link(href="javascript: void(0);")
                span О компании
            .why__box
              .page__flex
                .why__desc.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".2s")
                  .why__desc--numb 9 лет
                  .why__desc--subname на рынке
                .why__desc.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".4s")
                  .why__desc--numb 1 000+
                  .why__desc--subname единиц продано
                .why__desc.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".6s")
                  .why__desc--numb Широкий
                  .why__desc--subname выбор техники
                .why__desc.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay=".8s")
                  .why__desc--numb Лучшее
                  .why__desc--subname финансирование
              .why__text.wow.fadeInUp(data-wow-duration=".7s", data-wow-delay="1.2s")
                p Профессиональная консультация по всем вопросам, широкий выбор техники, предложим лучшее финансирование, выгодно для вас сдадим в аренду новую технику, выкупим вашу технику

block templates
  +modal-lc
  +modal-thanks

block scripts
  script(src= path.js + "script-add.js")
